@font-face {
  font-family: "Raleway";
  src: url("fonts\Raleway\static\Raleway-Regular.ttf");
}

body {
  font-family: "Raleway", Arial, serif;
  display: flex;
  flex-direction: column;
}

/*HEADER*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.nav_header {
  width: 35%;
  display: flex;
  font-size: 1em;
  list-style: none;
  justify-content: space-around;
  margin-block: unset;
  margin-inline: unset;
  padding-inline: unset;
  margin-bottom: 1%;
  align-items: flex-end;
}

.li_1,
.li_2,
.sinscrire {
  width: 100%;
}
.li_1 a,
.li_2 a {
  text-decoration: none;
  font-weight: 600;
  color: black;
  padding: 0 8% 0 8%;
}
.li_1 a:hover,
.li_2 a:hover {
  color: #0065fc;
  border-top: 0.15em solid #0065fc;
  padding-top: 29%;
}

.sinscrire a {
  color: #0065fc;
  font-weight: 800;
  text-decoration: none;
}

/*--------------SECTION 1--------------*/

.section1 {
  height: 15%;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 4%;
}

.titre1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.recherche {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-size: 1.4em;
  font-weight: 750;
  margin-block: unset;
  margin-inline: unset;
}

/*titre 1*/

.titre1 h1 {
  margin-bottom: 0.4%;
  padding-bottom: 0%;
}
.titre1 p {
  font-size: 0.9em;
  margin-top: 1%;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}
.titre1 .recherche {
  display: flex;
  flex-direction: column;
}

/*formulaire de recherche*/

.recherche form p {
  margin-block: unset;
  margin-inline: unset;
  width: fit-content;
  display: flex;
  margin-bottom: 2%;
  font-size: 105%;
  height: 2.5em;
}

.recherche form label {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f2f2f2;
  border: 1px #f2f2f2 solid;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  font-size: 95%;
}

input[type="text"] {
  border-bottom: 1px #f2f2f2 solid;
  border-top: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

input[type="submit"] {
  border: none;
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 100%;
}

/*filtres de recherche*/

.filtres {
  display: flex;
  align-items: center;
  width: 52%;
  justify-content: space-between;
  margin-bottom: 2%;
}

.filtres a {
  margin-left: 0%;
  margin-right: 0%;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  align-items: center;
  border: 2px #f2f2f2 solid;
  border-radius: 2em;
  height: 100%;
  font-size: 145%;
}

.filtres a:hover > i {
  color: white;
  background-color: #0065fc;
}
.filtres a:hover > div {
  color: #0065fc;
}
.filtres a:hover {
  background-color: #deebff;
  border: #0065fc solid 2px;
}
.filtres a i {
  color: #0065fc;
  background-color: #deebff;
  border-radius: 2em;
  width: 2.2em;
  height: 2.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -0.5%;
  font-size: 80%;
}

.filtres a div {
  color: black;
  font-weight: 550;
  padding-left: 0.8em;
  padding-right: 0.8em;
  font-size: 75%;
}

.filtres h3 {
  margin-right: 0%;
  font-size: 1.1em;
  font-weight: 750;
}

/*info logements disponibles*/

.nblogements {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.nblogements i {
  margin-right: 1em;
  font-size: 0.7em;
  border: #f2f2f2 solid 1px;
  border-radius: 2em;
  width: 1.6em;
  height: 1.6em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

/*--------------SECTION 2--------------*/

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-left: 5%;
  background: #f2f2f2;
}

.section2 h2 {
  margin-bottom: 2%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2%;
  justify-content: flex-start;
  align-items: flex-start;
}

.card_a {
  text-decoration: none;
  margin: 2%;
  width: 28%;
}

.card {
  color: black;
  border: solid #f2f2f2 2.5px;
  border-radius: 2em;
  box-shadow: 1px 2px 20px rgb(199, 199, 199);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.card_img {
  padding-bottom: 1%;
}

.card_img img {
  border: transparent solid 1px;
  border-radius: 2em 2em 0 0;
  object-fit: cover;
  height: 100px;
  width: 100%;
}

.card_container {
  padding: 0 0 3% 4%;
}

.cards h3 {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 2%;
  font-size: 1.2em;
  font-weight: 750;
}

.cards h3 + p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 4%;
  font-size: 1em;
  text-decoration: none;
}

.etoiles {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  display: flex;
  color: #0065fc;
  margin-bottom: 0%;
  font-size: 1em;
  text-decoration: none;
}

.fas.fa-star.gris {
  color: #b9b9b9;
}

.afficherplus {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 700;
}

/*--------------ASIDE--------------*/
