@font-face {
  font-family: "Raleway";
  src: url("fonts\Raleway\static\Raleway-Regular.ttf");
}

body {
  font-family: "Raleway", Arial, serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: auto;
}

/* #header,
#sections {
} */

/*------------------------------------------------------------
-------------------------HEADER-------------------------------
------------------------------------------------------------*/

#header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  padding-bottom: 2%;
}
#logo_main {
  margin-top: 2%;
  margin-left: 2%;
}
.header-right {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 35%;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 60%;
}

.nav a {
  color: black;
  text-decoration: none;
  font-weight: 700;
  padding: 10% 2% 0 2%;
  font-size: 1.2rem;
}

.sinscrire {
  text-decoration: none;
  color: #0065fc;
  font-weight: 700;
  width: 20%;
  margin-left: 7%;
  font-size: 1.2rem;
}

.nav-hébergements:hover,
.nav-activités:hover {
  color: #0065fc;
  border-top: #0065fc 0.2rem solid;
  padding-top: -2%;
}

.li_1 a:hover,
.li_2 a:hover {
  color: #0065fc;
  border-top: 0.15em solid #0065fc;
  padding-top: 28%;
}

/*------------------------------------------------------------
-----------------------------MAIN-----------------------------
------------------------------------------------------------*/

#sections {
  display: flex;
  flex-wrap: wrap;
}

/*------------------------------------------------------------
-----------------------------SECTION 1------------------------
------------------------------------------------------------*/

#section1 {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0%;
  margin-left: 2%;
}

.titre1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 2%;
}

.recherche {
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-size: 1.6rem;
  font-weight: 750;
  margin-block: unset;
  margin-inline: unset;
}

/*-----------titre 1----------*/

.titre1 h1 {
  margin-bottom: 0.4%;
  padding-bottom: 0%;
  margin-left: -0.2%;
}
.titre1 p {
  font-size: 1.1em;
  margin-top: 1%;
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
}
.titre1 .recherche {
  display: flex;
  flex-direction: column;
}

/*-------formulaire de recherche-------*/

.recherche form p {
  margin-block: unset;
  margin-inline: unset;
  width: fit-content;
  display: flex;
  margin-bottom: 2%;
  font-size: 105%;
  height: 2.5em;
}

.recherche form label {
  padding-left: 5%;
  padding-right: 5%;
  background-color: #f2f2f2;
  border: 1px #f2f2f2 solid;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: none;
  font-size: 95%;
}

input[type="text"] {
  border-bottom: 1px #f2f2f2 solid;
  border-top: 1px solid #f2f2f2;
  border-left: none;
  border-right: none;
  font-weight: 600;
  font-size: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

input[type="submit"] {
  border: none;
  background-color: #0065fc;
  color: white;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
  cursor: pointer;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 100%;
}

/*-------filtres de recherche-------*/

.filters {
  display: flex;
  align-items: center;
  margin-bottom: 2%;
}

.filter_container {
  margin-left: 1%;
  margin-right: 1%;
  display: flex;
  align-items: center;
  border: 3px #f2f2f2 solid;
  border-radius: 2em;
  cursor: pointer;
}

.filter_container:hover > .search_filter_icon {
  color: white;
  background-color: #4992ff;
}
.filter_container:hover > div {
  color: #0065fc;
}
.filter_container:hover {
  background-color: #deebff;
  border: #4992ff solid 3px;
}
.search_filter_icon {
  color: #0065fc;
  background-color: #deebff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  margin: -3px;
}

.search_filter_name {
  color: black;
  font-size: 1.2em;
  font-weight: 550;
  margin-block: unset;
  margin-inline: unset;
  margin: 0 1rem 0 1rem;
}
.filters h3 {
  margin-right: 1%;
  font-size: 1.2em;
  font-weight: 750;
}

/*-----info logements disponibles-----*/

.nblogements {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.nblogements i {
  margin-right: 1rem;
  font-size: 0.7em;
  border: #f2f2f2 solid 1px;
  border-radius: 2em;
  width: 1.6rem;
  height: 1.6rem;
  margin-bottom: 0.1%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0065fc;
}

/*------------------------------------------------------------
------------------------SECTION 2-----------------------------
------------------------------------------------------------*/

#section2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  background: #f2f2f2;
  padding: 2%;
  border-radius: 2rem;
  margin-top: 1.5%;
  margin-right: 0;
  margin-left: 2%;
  margin-bottom: 2%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1%;
  margin-bottom: 2%;
  justify-content: space-between;
  align-items: flex-start;
}

.card_a {
  text-decoration: none;
  margin: 2% 0 3% 0;
  width: 30%;
}

.card {
  color: black;
  border: solid #f2f2f2 2.5px;
  border-radius: 2em;
  box-shadow: 1px 2px 20px rgb(175, 175, 175);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card_img {
  margin-bottom: 2%;
}

.card_img img {
  border-radius: 2em 2em 0 0;
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.card_container {
  padding: 0 0 3% 4%;
}

.cards h3 {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 3%;
  font-size: 1.2em;
  font-weight: 750;
}

.cards h3 + p {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  margin-bottom: 4%;
  font-size: 1em;
}

.etoiles {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-inline-start: unset;
  margin-inline-end: unset;
  color: #0065fc;
  font-size: 1em;
}

.fas.fa-star.gris {
  color: #b9b9b9;
}

.afficherplus {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: 750;
}

.afficherplus:hover {
  color: #0065fc;
}
/*------------------------------------------------------------
------------------------ASIDE---------------------------------
------------------------------------------------------------*/

#MostPopular {
  display: flex;
  flex-direction: column;
  width: 25%;
  margin-top: 1.5%;
  margin-bottom: 2%;
  margin-right: 0%;
  margin-left: 2%;
  background-color: #f2f2f2;
  padding: 2%;
  padding-bottom: 0;
  border-radius: 2rem;
}

.title_mostpopular {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title_mostpopular i {
  font-size: 1.5em;
}

.cards2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 2.5%;
}

.cards2 a {
  text-decoration: none;
}
.card2 {
  display: flex;
  align-items: center;
  margin: 5% 0 5% 0;
  border: solid #f2f2f2 2.5px;
  border-radius: 2em;
  box-shadow: 1px 2px 20px rgb(175, 175, 175);
}

.card2_img {
  object-fit: cover;
  width: 35%;
  height: 175px;
  border-radius: 2em 0 0 2em;
  margin-right: 5%;
}

.card2_container {
  width: 50%;
}

.card2_container_h3 {
  margin-block-start: unset;
  margin-block-end: unset;
  margin-bottom: 5%;
  font-size: 1.2em;
  font-weight: 750;
  color: black;
}
.card2_container p {
  margin-block-start: unset;
  margin-block-end: unset;
  font-size: 1em;
  color: black;
}

.card2_etoiles {
  margin-top: 20%;
  color: #0065fc;
}

/*------------------------------------------------------------
------------------------Section 3-----------------------------
------------------------------------------------------------*/

#section3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 2% 2%;
}

#title_actvities {
  margin-left: 1%;
  margin-bottom: 2%;
}

.activities {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.activities1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.activities2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}

.activities1 a,
.activities2 a {
  text-decoration: none;
}

.activity_big {
  width: 42%;
}

.activities_SetM {
  display: flex;
  flex-direction: column;
  width: 48%;
  justify-content: space-between;
}

.activity_medium_container,
.activity_small_container {
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 1px 2px 20px rgb(205, 205, 205);
}

.activity_big_container {
  display: flex;
  flex-direction: column;
  border-radius: 2em;
  box-shadow: 1px 2px 20px rgb(205, 205, 205);
}

.activity_small_container img {
  object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 2em 2em 0 0;
}

.activity_medium_container img {
  object-fit: cover;
  width: 100%;
  height: 220px;
  border-radius: 2em 2em 0 0;
  padding: -1%;
}

.activity_big_container img {
  object-fit: cover;
  height: 500px;
  border-radius: 2em 2em 0 0;
}

.activities h3 {
  color: black;
  font-weight: 750;
  margin-left: 7%;
  font-size: 1.2em;
}

/*-----------------------------------------------------------
------------------------FOOTER-------------------------------
------------------------------------------------------------*/

#footer {
  height: auto;
  width: 100%;
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  box-sizing: border-box;
  padding-right: 15%;
  padding-left: 4%;
  padding-bottom: 3%;
  padding-top: 3%;
}

.footer_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 20%;
}

.footer_div h2 {
  font-size: 1.1rem;
  margin-block: unset;
  padding-inline: unset;
  margin-bottom: 1.2rem;
}

.footer_div a {
  width: auto;
  font-size: 1.1rem;
  margin-bottom: 0.8rem;
  text-decoration: none;
  list-style: none;
  color: black;
  font-weight: 500;
}

.footer_div a:hover {
  color: #0065fc;
}
